In [1]:
# Tanmay Vijay Jadhav (20121040)

Assignment 7 - Text Analytics

In [5]:
# Importing our library and reading the doc file
import docx
doc = docx.Document('C:\\Users\\Acer\\Desktop\\DSBDA Self\\Assignment 7\\Sample Document.docx')

# Printing the title
print(doc.paragraphs[0].text)

This is a sample document created by Tanmay Jadhav for Assignment No. 7

In [6]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

### Tokenization

In [7]:
s = "It originated from the idea that there are readers who prefer learning new skills from the comforts of their drawing rooms"
#word tokenize(s)
nltk.word_tokenize(s)

['It',
 'originated',
 'from',
 'the',
 'idea',
 'that',
 'there',
 'are',
 'readers',
 'who',
 'prefer',
 'learning',
 'new',
 'skills',
 'from',
 'the',
 'comforts',
 'of',
 'their',
 'drawing',
 'rooms']

In [9]:
import docx
import nltk
from nltk.tokenize import word_tokenize
doc=docx.Document('C:\\Users\\Acer\\Desktop\\DSBDA Self\\Assignment 7\\Sample Document.docx')
d=doc.paragraphs[0].text
nltk.word_tokenize(d)

['This',
 'is',
 'a',
 'sample',
 'document',
 'created',
 'by',
 'Tanmay',
 'Jadhav',
 'for',
 'Assignment',
 'No',
 '.',
 '7']

### POS Tagging

In [11]:
from nltk import pos_tag
from nltk import RegexpParser

#import nltk
nltk.download('averaged_perceptron_tagger')

text = "learn php from GCOEARA and make study easy".split()
print("After split : ", text)
tokens_tag = pos_tag(text)
print("After token : ", tokens_tag)

After split :  ['learn', 'php', 'from', 'GCOEARA', 'and', 'make', 'study', 'easy']
After token :  [('learn', 'JJ'), ('php', 'NN'), ('from', 'IN'), ('GCOEARA', 'NNP'), ('and', 'CC'), ('make', 'VB'), ('study', 'NN'), ('easy', 'JJ')]

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

### Stop Words Removal

In [109]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [110]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
text = "Nick likes to play football, however he is not too fond of tennis."
text_tokens = word_tokenize(text)
tokens_without_sw = [word for word in text_tokens if not word in stopwords.words()]
print(tokens_without_sw)

['Nick', 'likes', 'play', 'football', ',', 'fond', 'tennis', '.']

### Stemming

In [111]:
# importing modules
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

ps = PorterStemmer()

sentence = "Programmers program with programming languages"

words = word_tokenize(sentence)

for w in words:
	print(w," : ",  ps.stem(w))

Programmers  :  programm
program  :  program
with  :  with
programming  :  program
languages  :  languag

### Lemmatization

In [112]:
# import these modules

#nltk.download('wordnet')
#nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
print("rocks : ", lemmatizer.lemmatize("rocks"))
print("corpora : ", lemmatizer.lemmatize("corpora"))

# a denotes adjective in "pos"
print("better : ", lemmatizer.lemmatize("better" ,pos ="a"))

rocks :  rock
corpora :  corpus
better :  good

In [113]:
import pandas as pd
import sklearn as sk
import math
first_sentence = "Data Science is the sexiest job of the 21st century"
second_sentence = "machine learning is the key for data science"

#split so each word have their own string
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")
#join them to remove comon duplicate words
total = set(first_sentence).union(set(second_sentence))
print(total)

{'job', 'learning', '21st', 'for', 'key', 'sexiest', 'data', 'science', 'Data', 'Science', 'of', 'machine', 'is', 'century', 'the'}

In [114]:
wordDictA = dict.fromkeys(total, 0)
wordDictB = dict.fromkeys(total, 0)
for word in first_sentence:
    wordDictA[word]+=1
    
for word in second_sentence:
	wordDictB[word]+=1
pd.DataFrame([wordDictA, wordDictB])

,job,learning,21st,for,key,sexiest,data,science,Data,Science,of,machine,is,century,the
0,1,0,1,0,0,1,0,0,1,1,1,0,1,1,2
1,0,1,0,1,1,0,1,1,0,0,0,1,1,0,1

In [115]:
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
        tfDict[word] = count/float(corpusCount)
    return(tfDict)

#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, first_sentence)
tfSecond = computeTF(wordDictB, second_sentence)

#Converting to dataframe for visualization
pd.DataFrame([tfFirst, tfSecond])

,job,learning,21st,for,key,sexiest,data,science,Data,Science,of,machine,is,century,the
0,0.1,0.000,0.1,0.000,0.000,0.1,0.000,0.000,0.1,0.1,0.1,0.000,0.100,0.1,0.200
1,0.0,0.125,0.0,0.125,0.125,0.0,0.125,0.125,0.0,0.0,0.0,0.125,0.125,0.0,0.125

#### we move onto the IDF part and implement the idf formula, letâ€™s finish with calculating the TFIDF

In [129]:
import math
import pandas as pd

def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    for doc in docList:
        for word in doc:
            if word not in idfDict:
                idfDict[word] = 0
            idfDict[word] += 1
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val)+ 1)
    return idfDict

def computeTFIDF(tfBow, idfs):
    tfidf = {}
    N = len(tfBow)
    for word, val in tfBow.items():
        tfidf[word] = val * idfs.get(word, 0)
    return tfidf

# Example usage
docList = [wordDictA, wordDictB]
idfs = computeIDF(docList)

tfidfA = computeTFIDF(wordDictA, idfs)
tfidfB = computeTFIDF(wordDictB, idfs)

df = pd.DataFrame([tfidfA, tfidfB])
print(df)

       job  learning     21st      for      key  sexiest     data  science  \
0  0.30103   0.00000  0.30103  0.00000  0.00000  0.30103  0.00000  0.00000
1  0.00000   0.30103  0.00000  0.30103  0.30103  0.00000  0.30103  0.30103

      Data  Science       of  machine       is  century      the
0  0.30103  0.30103  0.30103  0.00000  0.30103  0.30103  0.60206
1  0.00000  0.00000  0.00000  0.30103  0.30103  0.00000  0.30103